# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content..
sites/*/files
sites/*/private
sites/all/themes/kcplibraryzen/.sass-cache
sites/all/themes/kcplibraryzen/images/header_image.png
*/.DS_Store
*/_notes
*/.swp
.DS_Store