/* line 2, ../scss/style.scss */
body {
  margin: 0;
  font: 16px / 1.5em "Helvetica Neue", helvetica, Arial, sans-serif;
  letter-spacing: 0.03em;
}

/* line 12, ../scss/style.scss */
a:link, a:visited {
  color: blue;
  text-decoration: none;
}

/* line 19, ../scss/style.scss */
a:hover, a:active {
  color: red;
  text-decoration: underline;
}

/* line 26, ../scss/style.scss */
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

/* line 34, ../scss/style.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
}

/* line 38, ../scss/style.scss */
h1 {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

/* line 45, ../scss/style.scss */
h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em;
}

/* line 51, ../scss/style.scss */
h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

/* line 56, ../scss/style.scss */
h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

/* line 61, ../scss/style.scss */
h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

/* line 67, ../scss/style.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 73, ../scss/style.scss */
p {
  margin: 0 0 1em 0;
}

/* line 78, ../scss/style.scss */
ul, ol {
  margin-left: 0;
  padding-left: 0;
}

/* line 84, ../scss/style.scss */
table {
  width: 99%;
}

/* line 90, ../scss/style.scss */
tr.even td,
tr.odd td {
  padding: 10px 5px;
}

/* line 95, ../scss/style.scss */
tr.odd {
  background-color: white;
}

/* line 100, ../scss/style.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 105, ../scss/style.scss */
pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

/* line 114, ../scss/style.scss */
ul {
  list-style-type: disc;
}
/* line 116, ../scss/style.scss */
ul ul {
  list-style-type: circle;
}
/* line 118, ../scss/style.scss */
ul ul ul {
  list-style-type: square;
}
/* line 120, ../scss/style.scss */
ul ul ul ul {
  list-style-type: circle;
}

/* line 127, ../scss/style.scss */
ol {
  list-style-type: decimal;
}
/* line 129, ../scss/style.scss */
ol ol {
  list-style-type: lower-alpha;
}
/* line 131, ../scss/style.scss */
ol ol ol {
  list-style-type: decimal;
}

/* line 138, ../scss/style.scss */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

/* line 145, ../scss/style.scss */
#edit-title {
  font-size: 24px;
  width: 99%;
}

/* line 150, ../scss/style.scss */
#system-themes-form img {
  width: 100px;
}

/* line 154, ../scss/style.scss */
.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

/* line 162, ../scss/style.scss */
#edit-delete {
  color: #cc0000;
}

/* line 167, ../scss/style.scss */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
}

/* line 175, ../scss/style.scss */
div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55;
}

/* line 181, ../scss/style.scss */
div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522;
}

/* line 187, ../scss/style.scss */
div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77;
}

/* line 197, ../scss/style.scss */
#header, #footer,
#sidebar-first,
#sidebar-second,
#navigation {
  background: rgba(170, 170, 170, 0.2);
}
