@import "base";

/* Layout rules */
@import "layouts/desk";
@import "layouts/tablet";

#header-full { background-color:#00F; }
#navigation-full { background-color:#00C; }
#page-full { background-color:#CCC;}
#footer-full { background-color:#00F;}
#header {background-color:#06F;}
#navigation {background-color:#06C;}
#page {background-color:#FFF; min-height:900px;}
#footer {background-color:#06F; padding-bottom:100px}

#header,
#content,
#navigation,
.sidebar.first,
.sidebar.second,
#footer {
}